table, th, td, tr {
    border: 1px solid white;
    border-collapse: collapse;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.main_screen {
  display: block;
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.config_window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.75);
}

.config_window_content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 400px;
}

.close_button {
  color: gray;
  float: right;
  font-size: 30px;
}

.close_button:hover,
.close_button:focus {
  color: lightgray;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}